---
import { ViewTransitions } from 'astro:transitions';
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <title>{content.title}</title> -->
		<ViewTransitions />
	</head>
	<body class="bg-black text-white py-8 min-h-screen">
		<slot />
	</body>
</html>
