---
import { ViewTransitions } from "astro:transitions";
const { content } = Astro.props;
import '../styles/base.css';
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preload" href="/fonts/inter/inter-variable.woff2" as="font" type="font/woff" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <title>{content.title}</title> -->
    <ViewTransitions />
  </head>
  <body class="bg-neutral-900 py-8 min-h-screen">
    <slot />
  </body>
</html>
